# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

mygo

# Ignore all files and folders inside the 'frames' directory
assets/frames/*/*

# Ignore .mp4 files inside 'assets/resource'
assets/resource/*.mp4

# Ignore all files inside 'src/subtitle_process/temp'
src/subtitle_process/temp/*.jpg
runs
assets/MY_GO.v3i.yolov11
assets/resnet_dataset/*/*
assets/models/*.onnx
assets/models/*.pt
assets/subs/*/*.ass
assets/yolo_dataset/
yolo11n.pt
src/subtitle_process_ocr/temp

.vscode
